extends layout

block content
  .login-container
    h1.login-header Login 
    form.login-form(action="/login/password", method="POST")
      section.login-section 
        label.login-label(for="email") Email 
        input.login-input(type="email", name="email") 
      section.login-section 
        label.login-label(for="password") Password 
        input.login-input(type="password", name="password")
      button.btn-sign-in(type="submit") Sign In
    a.btn-sign-up(href="/signup") Sign Up
