extends layout

block content
  h1 Modify Lyric

  form(action=`/lyrics/modify_lyric/${lyric._id}`, method="POST")
    label(for="title") Title:
    input(type="text", name="title", value=lyric.title, required)

    label(for="artist") Artist:
    input(type="text", name="artist", value=lyric.artist, required)

    label(for="lyrics") Lyrics:
    textarea(name="lyrics", rows="6", required)= lyric.lyrics

    input(type="submit", value="Save Changes")
