extends layout

block content
  .signup-container
    h1.signup-header Sign Up 
    form.signup-form(action="/signup", method="POST")
      section.signup-section 
        label.signup-label(for="name") Name 
        input.signup-input(type="text", name="name")
      section.signup-section 
        label.signup-label(for="email") Email 
        input.signup-input(type="email", name="email")
      section.signup-section 
        label.signup-label(for="password") Password 
        input.signup-input(type="password", name="password")
      button.btn-sign-up(type="submit") Sign Up
